<?xml version="1.0" ?>
<database>
  <name>REEM database</name>
  <license>Creative Commons Attribution 3.0 Unported</license>
  <models>
    <uri>file://reem_description</uri>
    <uri>file://reem_rgbd_description</uri>
    <uri>file://reem_head_description</uri>
    <uri>file://reem_arm_description</uri>
    <uri>file://reem_upper_body_description</uri>
  </models>
</database>
